{% extends 'backend/index.html' %}

{% block body %}
<br>
<h3>Total number of articles: {{empty_dict|length}}</h3>
<br>

{% for key, i in empty_dict.items %}
    <ul>
        <li>{{i.title}}</li>
        <li><a href="https://www.semrush.com{{i.link}}">https://www.semrush.com{{i.link}}</a></li>
        <li>{{i.description}}</li>
        <li>{{i.published}}</li>
        <br><br> 
      </ul>
{% endfor %}


  <nav aria-label="...">
    <ul class="pagination">
        {% if previos_page %}
      <li class="page-item">
        <a class="page-link"  href="{% url 'bs4' page=previos_page %}">Previous</a>
      </li>
       {% endif %}
      <li class="page-item active" aria-current="{{current_page}}">
        <a class="page-link" href="#">{{current_page}}</a>
      </li>
      {% if next_page %}
      <li class="page-item">
        <a class="page-link" href="{% url 'bs4' page=next_page %}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav> 
{% endblock %} 